*{
    margin:0px;
    padding:0px;
}

.form{
    width:400px;
    margin:0 auto;
}

.footer {
    border-top:1px solid #eee;
    padding:16px 0 24px;
    margin-top:15px;
    color:#999;
    font-size:14px;
    text-align:center;
}


