<!DOCTYPE html>
<html lang='zh-CN'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width' />
        <title>{% block title %}{% endblock %}</title>
        
        <link rel='stylesheet' href='/static/main.css' type='text/css'>
        
        <link rel='stylesheet' href='https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css'>

    </head>

    <body>

        <nav class='navbar navbar-default'>
            <div class='container-fluid'>
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class='navbar-header'>
                    <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false'>
                        <span class='sr-only'> navigation</span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                    </button>

                    <a class='navbar-brand' href='#'>Jobplus</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
                    <ul class='nav navbar-nav'>
                        <li class='active'>
                            <a href='#'>Link
                                <span class='sr-only'>(current)</span>
                            </a>
                        </li>
                        <li><a href='#'>Link2</a></li>

                    </ul>

                    <form class='navbar-form navbar-right' >
                        <div class='form-group'>
                            <input type='text' class='form-control' placeholder='搜索'>
                        </div>
                        <button type='submit' class='btn btn-default'>Go</button>
                    </form>
                    <ul class='nav navbar-nav navbar-right'>
                        <li><a href='#'>Link</a></li>
                        <li class='dropdown'>
                            <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>Dropdown <span class='caret'></span></a>
                            <ul class='dropdown-menu'>
                                <li><a href='#'>Action</a></li>
                                <li><a href='#'>Another action</a></li>
                                <li><a href='#'>Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block body %}
        {% endblock %}

        {% block footer %}
        {% endblock %}

        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
        <script src='https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
        <script src='/static/main.js'></script>
    </body>

</html>
